@import "./fonts.css";
@import "./vars.css";
@import "./null-style.css";
@import "./header.css";
@import "./main.css";

body {
  font-family: "Montserrat";
}

.container {
	max-width: 92rem;
	margin: 0 auto;
}

.wrapper {
  max-width: 1480px;
  margin: 0 auto;
}