@import "./fonts.css";
@import "./vars.css";
@import "./null-style.css";
@import "./header.css";
@import "./main.css";
@import "./why.css";
@import "./benefits.css";

body {
  font-family: "Montserrat";
  background-color: var(--grey);
}

.wrapper {
  max-width: 92rem;
  margin: 0 auto;
  padding: 0 1rem;
}